.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding-top: 92px;
padding-bottom: 95px;
}

.header_logo {

}

.header_menu_list {
display: flex;
flex-direction: row;
list-style: circle;
gap: 13px;
padding: 0;
border: 0.5px;
}

.header_menu_item_first {
list-style: none;
}

.header_menu_item {
  margin-left: 32px;

}

.header_menu_link {
    margin-left: 13px;
    font-size: 18px;
    display: block;
}

.header_logo_image {
width: 148px;
height: 105px;
display: block;
margin-left: 38px;
}

.address {
    font-size: 18px;
    max-width: 1100px;
    justify-self: end;
}

.number {
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.mail {
   text-decoration-skip-ink: none;
   text-underline-offset: 4px; 
}